body{
    margin: 0;
}

.heading{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 0px 100px;
}

header{
    font-weight: 800;
    font-size: 20px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 15px
}
.main{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 90px;
    gap:100px;
}
main{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: -15px;
}
br{
    display: block;
    content: "";
    margin: -10px;
}

.main-left{
    display: flex;
    flex-direction: column;
}

.main-pic{
    width: 1150px;
    height: 250px;
    object-fit: cover;
}

button{
    background-color: rgb(34, 153, 226);
    color: white;
    padding: 10px 15px 10px 15px;
    width: 125px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px; 
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}

div.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 150px 50px 150px;
}
img.middle{
    width: 150px;
    border-style: solid;
    border-color: rgb(54, 131, 233);
    border-radius: 15%;
}

.middle>li{
    width: 150px;
    text-align: center;
}

ul.middle{
    gap:50px;
}